<!DOCTYPE html>
<html>
<head>
  <title>Artz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'partials/header' %>

  <div class="container">
      <div class="row">
        <div class="col-md-8">
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <%= flash[:notice] %></div>
          <% end %>

          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>

  <%= render 'partials/footer' %>

</body>
</html>
